@using System.Collections
@using VideoStore.Common.Models;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Actor actor = (Actor) ViewBag.Actor;
    IEnumerable<Movie> movies = (IEnumerable<Movie>) ViewBag.Movies;
}

<div class="page-header">
    <h2>@actor.FirstName @actor.LastName <br /><small><a href="/Actors">Back to actors</a></small></h2>
</div>

<div class="row">


    @foreach (var movie in movies)
    {
        <div class="col-sm-3">
            <h3><a href="/Movies/View/@movie.MovieId">@movie.Title</a></h3>
        </div>
    }

</div>
